# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.CAS_Jam_Project.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\egroj\Code\Unity\CAS_Jam_Project\.idea\.idea.CAS_Jam_Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
